<form #formLogin="ngForm" (ngSubmit)="login(formLogin)">

  <div class="card col-sm-8 col-md-6 col-lg-4 p-0 mt-3">
    <h5 class="card-header">Login</h5>
    <div class="card-body">

      <app-alert-response [formAlert]="formAlert"></app-alert-response>

      <div class="form-group text-left">
        <label for="mobile" class="col-form-label">Mobile</label>
        <input type="number" id="mobile" [(ngModel)]="loginForm.mobile" #mobile="ngModel" name="mobile" class="form-control" placeholder="Mobile"
          required pattern="[7-9]{1}[0-9]{9}" (ngModelChange)="detectChanges('mobile')">
        <div *ngIf="!mobile.valid">
          <div class="text-danger" *ngIf="!mobile.value">
            <small>Mobile is Required.</small>
          </div>
          <div class="text-danger" *ngIf="mobile.value">
            <small>Mobile must be Valid.</small>
          </div>
        </div>
      </div>

      <div class="form-group text-left">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="loginForm.password" #password="ngModel" name="password" class="form-control"
          placeholder="Password" required>
        <div *ngIf="!password.valid">
          <div class="text-danger" *ngIf="!password.value">
            <small>Password is Required.</small>
          </div>
        </div>
      </div>

      <div class="form-group text-left" *ngIf="rooms.length > 0">
        <label for="roomId">Room</label>
        <select class="form-control" id="roomId" [(ngModel)]="loginForm.roomId" #roomId="ngModel" name="roomId" required (ngModelChange)="detectChanges('roomId')">
          <option value="">-Select-</option>
          <option *ngFor="let room of rooms" [value]="room.id"> {{ room.name }} </option>
        </select>
        <div *ngIf="!roomId.valid">
          <div class="text-danger" *ngIf="!roomId.value">
            <small>Room is Required.</small>
          </div>
        </div>
      </div>

      <div class="form-group text-left" *ngIf="requireOtp">
        <label for="otp">OTP</label>
        <input type="number" id="otp" [(ngModel)]="loginForm.otp" #otp="ngModel" name="otp" class="form-control" placeholder="OTP"
          required>
        <div *ngIf="!otp.valid">
          <div class="text-danger" *ngIf="!otp.value">
            <small>OTP is Required.</small>
          </div>
        </div>
      </div>

      <div class="form-group text-right">
        <div class="btn-group" role="group">
          <button class="btn btn-primary btn-sm" type="submit" [disabled]="!formLogin.valid">Login</button>
          <button class="btn btn-primary btn-sm" type="button" routerLink="/member-registration">Member Registration</button>
          <button class="btn btn-primary btn-sm" type="button" routerLink="/society-registration">Society Registration</button>
        </div>
      </div>

    </div>
  </div>

</form>