.dropdownLink:hover {
    background-color: #F9F9F9;
}

.menu-level-2 {
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.menu-level-2 > .nav-link {
    color: #333;
    border-bottom: 1px #DCDCDC solid;
}

.menu-level-2 > .menu-level-3 > .nav-link {
    color: #333;
}

.menu-level-2 > .menu-level-3 > .nav-link:last-child {
    border-bottom: 1px #DCDCDC solid;
}

@media only screen and (min-width: 600px) {
    .menu-level-2 {
        position: absolute;
        border: 1px solid #999;
        margin-top: 20px;
        border-radius: 5px;
        background-color: #FFFFFF;
    }

    .menu-level-2 > .nav-link {
        color: #333;
        border-bottom: 1px #DCDCDC solid;
    }

    .menu-level-2 > .menu-level-3 > .nav-link {
        color: #333;
    }

    .menu-level-2 > .menu-level-3 > .nav-link:last-child {
        border-bottom: 1px #DCDCDC solid;
    }

}
