<div class="card p-0 mt-3">

  <div class="card-header text-left col-12">
    <h5>Voucher Type (Pay / Collect) - Transaction Def Name</h5>
  </div>
  <div class="card-body p-0">

    <form #formVoucher="ngForm" (ngSubmit)="save(formVoucher)">

      <div class="row text-left p-3">

        <div class="col-lg-12">
          <app-alert [alert]="formAlert"></app-alert>
        </div>

        <div class="col-sm-6">
          <div class="form-group">  
            <label for="transactionFrom" class="col-form-label">Member</label>
            <select class="form-control" id="transactionFrom" name="transactionFrom" [(ngModel)]="voucherForm.transactionFrom.id" #transactionFrom="ngModel"
              required>
              <option value="">-Select-</option>
              <option *ngFor="let tf of transactionFrom" [value]="tf.id"> {{ tf.name }}</option>
            </select>
            <app-validation-error [element]="voucherAlerts.transactionFrom" [model]="transactionFrom"></app-validation-error>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="balanceAmount" class="col-form-label">Amount</label>
            <input type="text" class="form-control" id="balanceAmount" name="balanceAmount" [(ngModel)]="voucherForm.balanceAmount" #balanceAmount="ngModel"
            required readonly >
            <app-validation-error [element]="voucherAlerts.balanceAmount" [model]="balanceAmount"></app-validation-error>
          </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
              <label for="date" class="col-form-label">Date</label>
              <input class="form-control mt-2 mb-3" type="date" id="date" name="date" [(ngModel)]="voucherForm.date"
                #date="ngModel" onkeydown="return false" min="{{formatDate}}">
              <app-validation-error [element]="voucherAlerts.date" [model]="date"></app-validation-error>
            </div>
          </div>
  
          <div class="col-sm-6">
          <div class="form-group">
            <label for="paymentAmount" class="col-form-label">Payment Amount</label>
            <input class="form-control mt-2 mb-3" type="text" id="paymentAmount" name="paymentAmount" [(ngModel)]="voucherForm.paymentAmount"
            #paymentAmount="ngModel">
            <app-validation-error [element]="voucherAlerts.paymentAmount" [model]="paymentAmount"></app-validation-error>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="paymentType" class="col-form-label">Payment Type</label>
            <select class="form-control" id="paymentType" name="paymentType" [(ngModel)]="voucherForm.paymentType"
              #paymentType="ngModel" required>
              <option value="">-Select-</option>
              <option value="1">Cash</option>
              <option value="2">Cheque</option>
            </select>
            <app-validation-error [element]="voucherAlerts.paymentType" [model]="paymentType" [matchField]="transactionFrom"></app-validation-error>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="paymentDetail" class="col-form-label">Payment Details</label>
            <input class="form-control mt-2 mb-3" type="text" id="paymentDetail" name="paymentDetail" [(ngModel)]="voucherForm.paymentDetail"
            #paymentDetail="ngModel">
          </div>
        </div>

        <div class="col-12 text-right">
          <div class="form-group">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            <button class="btn btn-outline-primary" type="submit" [disabled]="!formTransactionDefinition.valid || transactionFrom.value == paymentType.value">Save
            </button>
          </div>
        </div>


      </div>


    </form>


  </div>
</div>