<form #formRegistration="ngForm" (ngSubmit)="register(formRegistration)">

  <div class="card col-12 p-0">
    <h5 class="card-header">Member Registration</h5>
    <div class="card-body col-sm-8 col-md-6 col-lg-4">

      <div class="form-group text-left">
        <label for="societyId" class="col-form-label">Society</label>
        <select class="form-control" id="societyId" name="societyId" [(ngModel)]="memberRegistrationForm.societyId.data" #societyId="ngModel"
          required (change)="getRooms()">
          <option value="">-Select-</option>
          <option *ngFor="let soc of societies" [value]="soc.id"> {{ soc.name }} </option>
        </select>
        <app-form-element-status [element]="memberRegistrationForm.societyId.validation" *ngIf="!societyId.valid"></app-form-element-status>
      </div>

      <div class="form-group text-left">
        <label for="roomId" class="col-form-label">Room</label>
        <select class="form-control" id="roomId" [(ngModel)]="memberRegistrationForm.roomId.data" #roomId="ngModel" name="roomId"
          required>
          <option value="">-Select-</option>
          <option *ngFor="let room of rooms" [value]="room.id"> {{ room.name }} </option>
        </select>
        <app-form-element-status [element]="memberRegistrationForm.roomId.validation" *ngIf="!roomId.valid"></app-form-element-status>
      </div>

      <div class="form-group text-left">
        <label for="name" class="col-form-label">Name</label>
        <input type="text" id="name" [(ngModel)]="memberRegistrationForm.name.data" #name="ngModel" name="name" class="form-control"
          placeholder="Name" required pattern="[A-za-z ]+">
        <div *ngFor="let div of memberRegistrationForm.name.validation">
          <app-form-element-status [element]="div" *ngIf="div.validationType === ValidationType.REQUIRED ? !name.valid && !name.value : !name.valid && name.value "></app-form-element-status>
        </div>

      </div>

      <div class="form-group text-left">
        <label for="mobile" class="col-form-label">Mobile</label>
        <input type="number" id="mobile" [(ngModel)]="memberRegistrationForm.mobile.data" #mobile="ngModel" name="mobile" class="form-control"
          placeholder="Mobile" required pattern="[7-9]{1}[0-9]{9}">
        <div *ngFor="let div of memberRegistrationForm.mobile.validation">
          <app-form-element-status [element]="div" *ngIf="div.validationType === ValidationType.REQUIRED ? !mobile.valid && !mobile.value : !mobile.valid && mobile.value "></app-form-element-status>
        </div>
      </div>

      <div class="form-group text-left">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="memberRegistrationForm.password.data" #password="ngModel" name="password"
          class="form-control" placeholder="Password" required>
        <app-form-element-status [element]="memberRegistrationForm.password.validation" *ngIf="!password.valid"></app-form-element-status>
      </div>

      <div class="form-group text-left">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" [(ngModel)]="memberRegistrationForm.confirmPassword.data" #confirmPassword="ngModel"
          name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
        <div *ngFor="let div of memberRegistrationForm.confirmPassword.validation">
          <app-form-element-status 
            [element]="div" 
            *ngIf="div.validationType === ValidationType.REQUIRED ? !confirmPassword.valid && !confirmPassword.value : confirmPassword.value && password.value != confirmPassword.value">
          </app-form-element-status>
        </div>
      </div>      

      <div class="form-group text-right">
        <div class="btn-group" role="group">
          <button class="btn btn-primary" type="submit"><!--[disabled]="!formRegistration.valid || password.value != confirmPassword.value"-->
            Register
          </button>
          <button class="btn btn-primary" type="button" routerLink="/login" routerLinkActive="active">Back</button>
        </div>
      </div>

    </div>
  </div>

</form>