<small *ngIf="element.activityType.show == 1" class="d-block" [ngClass]="{
        'text-info': element.activityType.type === AlertType.INFO,
        'text-success': element.activityType.type === AlertType.SUCCESS,
        'text-danger': element.activityType.type === AlertType.DANGER,
        'text-warning': element.activityType.type === AlertType.WARNING
    }">
    {{ element.activityType.text }}
</small>
<div *ngIf="element.activityType.show == 0">
    <div *ngFor="let div of element.validation">
        <div [ngSwitch]="div.validationType">
            <div *ngSwitchCase="ValidationType.REQUIRED">
                <small class="d-block text-danger" *ngIf="(!model.valid && !model.value) || model.value == 0">
                    {{ div.text }}
                </small>
            </div>
            <div *ngSwitchCase="ValidationType.VALID">
                <small class="d-block text-danger" *ngIf="!model.valid && model.value">
                    {{ div.text }}
                </small>
            </div>
            <div *ngSwitchCase="ValidationType.MATCH">
                <small class="d-block text-danger" *ngIf="model.value && matchField.value != model.value">
                    {{ div.text }}
                </small>
            </div>
            <div *ngSwitchCase="ValidationType.NOT_SAME">
                <small class="d-block text-danger" *ngIf="model.value && matchField.value == model.value">
                    {{ div.text }}
                </small>
            </div>
        </div>
    </div>
</div>